In [13]:
import requests
import pandas as pd
import json
import ndjson

In [18]:
url = "http://acmg59api.ngrok.io/api/example"
json_content = requests.get(url).json()
content = json.dumps(json_content)
df = pd.read_json(content)
df.tail(12)

                  baseline_hazards  coefficients
pc1                            NaN      0.009684
pc2                            NaN      0.002866
pc3                            NaN      0.068381
pc4                            NaN      0.003571
gps_bc                         NaN      0.126405
family_history                 NaN      0.557953
allele_frequency               NaN      0.413454
Silent                         NaN     -0.379736
Nonsense                       NaN      0.941636
Missense                       NaN     -0.428041
Deletion                       NaN      0.659096
Frameshift                     NaN      1.039895

In [16]:
df.head(-12)

       baseline_hazards  coefficients
31.73          0.999939           NaN
37.02          0.999878           NaN
37.44          0.999818           NaN
38.19          0.999757           NaN
38.24          0.999696           NaN
...                 ...           ...
78.0           0.904180           NaN
78.09          0.904180           NaN
78.17          0.904180           NaN
78.67          0.904180           NaN
78.76          0.904180           NaN

[1201 rows x 2 columns]